<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="bookstoreSessionFactoryId" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<bean id="BookDAO" class="com.bookstore.hibernate.BookDAO">
		<property name="sessionFactory">
			<ref bean="bookstoreSessionFactoryId" />
		</property>
	</bean>
	<bean id="UserDAO" class="com.bookstore.hibernate.UserDAO">
		<property name="sessionFactory">
			<ref bean="bookstoreSessionFactoryId" />
		</property>
	</bean>
	<bean id="AuthorDAO" class="com.bookstore.hibernate.AuthorDAO">
		<property name="sessionFactory">
			<ref bean="bookstoreSessionFactoryId" />
		</property>
	</bean>
	
	<bean id="bookManager" class="com.bookstore.service.BookManager">
		<property name="bookDAO" ref="BookDAO" />
	</bean>
	
	<!-- Controllers -->
	<bean id="bookListController" class="com.bookstore.web.BookListController">
		<property name="viewName" value="booklist" />
		<property name="bookManager" ref="bookManager" />
	</bean>
	<bean id="latestController" class="com.bookstore.web.LatestController">
		<property name="viewName" value="latest" />
		<property name="bookManager" ref="bookManager" />
	</bean>
</beans>